.header {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  background-color: #0177bb;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 96%;
}

.nav-item {
  padding: 6px;
  font-weight: 600;
  letter-spacing: 2px;
}

.home-icon {
  stroke-width: 50;
}

.search-icon {
  margin-right: 3px;
}

.setting-icon {
  margin-left: 3px;
}

.continent {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  width: 100vw;
  height: 30vh;
}

.world-map {
  width: 100%;
  height: 80%;
  background: url('./components/image/istockphoto-1370510829-612x612.jpg') no-repeat;
  background-size: cover;
  background-position: center center;
}

.continent-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  height: 20%;
  background-color: #0177bb;
}

.input-wrapper {
  margin: 0 4vw;
  width: 100%;
  height: 75%;
}

.select {
  width: 50%;
  height: 100%;
  border: none;
  border-radius: 5px;
  background-color: #1c94da;
}
